.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .fileMain {
        padding: 20px;
        border-radius: 12px;
        border: 2px dashed var(--text-secondary-color);
        text-align: center;
        cursor: pointer;
        background-color: var(--body-contain-bg-color);

        .fileContent {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 24px;
            margin: 1em 0;

            .fileContentIcon {
                font-size: 3.5rem;
            }
        }
    }

    .fileActived {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .fileItem {
            display: flex;
            justify-content: space-between;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            padding: 8px 12px;
            border-radius: 12px;
            background-color: var(--body-contain-bg-color);
            border: 1px solid var(--text-secondary-color);
            align-items: center;

            .title {
                display: flex;
                gap: 10px;
                align-items: center;

                .titleIcon {
                    font-size: 30px;
                }

                .titleFile {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    .titleFileName {
                        font-weight: 500;
                        font-size: 14px;
                    }

                    .titleFileSize {
                        font-size: 12px;
                        color: var(--header-profile-subtitle-color);
                    }
                }
            }
        }
    }
}
