.skeleton {
  display: inline-block;
  width: 100%;
  height: 1em;
  background: var(--skeleton-color);
  background-size: 200% 100%;
  animation: loading 3s infinite linear;
  border-radius: 4px;
  transition: all 0.3s ease-out;

  &.rounded {
    border-radius: 50rem;
  }
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
