.offCanvasContent {
    background-color: var(--body-contain-bg-color);
    color: var(--body-color);
    padding: 10px;

    .offCanvasHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        h2 {
            margin: 0;
        }

        .offCanvasHeaderToggle {
            cursor: pointer;
            font-size: 26px;
            border-radius: 0.25rem;
            padding: 0 2px;
            &:hover {
                background-color: var(--header-background-color);
            }
        }
    }

    .btnSave {
        width: 25%;
    }

    .offCanvasFooter {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }
}
