@use '~/utils' as *;

.modal {
    color: var(--body-color);
    .modalHeader {
        padding: 16px;
        background-color: var(--modal-header-bg-color);

        border-bottom: 1px solid var(--table-border-color);
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;

        h5 {
            font-weight: 600;
            font-size: 16px;
            margin: 0;
            color: var(--modal-header-title-color);
        }
        &.headerButton{
            display: block !important;
        }
    }

    .modalBody {
        padding: 16px;
        background-color: var(--body-contain-bg-color);
        color: var(--body-color);
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        &.noPadding {
            padding: 0;
        }

        .title {
            text-align: center;
        }

        .titleError {
            color: var(--danger-color);
        }

        .modalFooter {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin-top: 10px;
            align-items: center;
            padding: 16px;

            .action {
                display: flex;
                margin-left: auto;
                gap: 10px;
                height: 38px;

                .btnSize {
                    padding: 10px 16px;
                }
            }
        }
    }
}

.closeBtn {
    margin-left: auto;
    color: var(--body-color);
    cursor: pointer;
}
