.select {
    display: block;
    width: 100%;
    font-size: 12px;
    border-radius: 0.5rem;
    position: relative;
    padding: 6px 12px;

    outline: 0;
    box-shadow: none;

    &:disabled {
        background-color: var(--select-disabled);
    }

    &.rounded {
        border-radius: 50rem;
    }

    &::-ms-expand {
        display: none;
    }

    background-color: var(--select-bg-color);
    border: 1px solid var(--select-border-color);
    color: var(--select-color);
}
