.modalBody {
    background-color: var(--body-contain-bg-color);
    color: var(--body-color);
    border-radius: 0.5rem;

    .btn {
        min-width: 95px;
        padding: 8px 14px;
    }

    .modalBodyHeadTitle {
        margin: 24px 30px 0;
    }

    .modalFooter {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 24px;
        margin-bottom: 5px;
    }
}

.textColor {
    color: var(--text-secondary-color) !important;
    margin: 0 24px;
}

.closeBtn {
    margin-left: auto;
    color: var(--body-color);
    cursor: pointer;
}

.modalHeader {
    padding: 16px;
    background-color: var(--body-contain-bg-color);
    color: var(--body-color);
    border-bottom: none !important;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    display: flex;
    justify-content: flex-end;

    h5 {
        font-weight: 600;
        font-size: 16px;
        margin: 0;
    }
}
