.boxAvatar {
    padding: 6px 12px;
    border-radius: 1.5rem;
    background-color: var(--body-contain-bg-color);
    color: var(--body-color);
    width: 34%;
    margin: 0 auto;
    display: flex;
    gap: 12px;
    border: 1px solid var(--border-separator);
    display: flex;
    justify-content: center;

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 0.25rem;
        object-fit: cover;
    }

    .title {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}
