.textarea {
    border: 1px solid var(--input-border-color);
    background-color: var(--input-bg-color);
    color: var(--input-color);
    padding: 8px 14px;
    width: 100%;
    font-size: 12px;
    line-height: 19.5px;
    font-weight: 400;
    border-radius: 0.25rem;
    outline: none;
    position: relative;
    color-scheme: var(--input-type-date-color);
    display: block;

    &.disabled {
        background-color: var(--select-hover-bg-color) !important;
    }
}
